body {
  margin: 0;
  background: #eaeaea;
}
.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 25px;
  background: #f9f9f9;
  border-radius: 10px;
  font-family: Arial, sans-serif;
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.notes-box {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;
}

.btn-group {
  margin-top: 20px;
  text-align: center;
}

.btn {
  padding: 10px 18px;
  margin: 0 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.primary {
  background-color: #4f46e5;
  color: white;
}

.secondary {
  background-color: #16a34a;
  color: white;
}
.output-box p {
  color: red;
  font-weight: 600;   /* thoda bold */
  font-size: 16px;    /* thoda clear */
}

